.carrito{
    position: fixed;
    top:0;
    right: 0;
    background-color: 0;
    width: 400px;
    border:1px solid #f3f3f3;
    background: #0d98fc;
}
.carrito h2 {
    text-align: center;
}

.center{
    text-align: center;
}